<%= stylesheet_link_tag 'background'%>
<div class="animation-area">
    <div class="wrapper">
    <%=header%>
    <%=body%>
    <%=footer%>
    </div>
    <br>
    <ul class="box-area">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
</div>
<!--https://www.youtube.com/watch?v=5RoXCs54CN8-->