/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body {
  /*background-color: #13151a;*/
  background-image: url(asset-path('background.jpg'));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  font-family: 'Open Sans', sans-serif;
  margin: 33px;
}

.body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  font-family: 'Open Sans', sans-serif;
  margin: 33px;
}

.line_chart {
  background-color: black;
  color: red;
}

#notice {
	font-style: italic;
}

.login-modal {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(17, 19, 23, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
  background-color: #5cb85c;
  border: none;
  outline: none;
}

input:not([type=radio], [type=submit]) {
    -webkit-transition: 0.5s;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
	min-width: 280px;
	/*background-color: #111317;*/
  background-color: #0b0d0f;
	color: white;
	border: none;
}

.top-user-menu {
	text-align: left;
	min-width: 500px;
}

.acts {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.btn-warning, .btn-secondary, .btn-success {
	min-width: 180px;
}

.field, .actions {
  margin: 10px !important;
  font-family: 'Open Sans', sans-serif !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

#alert {
	color: red;
	font-style: italic;
}

.login-image {
	max-width: 400px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  color: white;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

  #table-no-padding {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.table-no-padding {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.table-scrollable-content {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.transaction-modal {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(17, 19, 23, 0.9);
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 50px;
  }

  .div-align, .span {
    display: inline-block;
  }

  .div-center {
    text-align: center;
  }

  .div-align-left {
   float: left;
   text-align: center;
  }

  .div-align-left {
    float: left;
   }

  .clearfix {
    clear:both
  }

.navbar-class {
  background-color: black;
  width: 100vw;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  z-index: 100;
}

.navbar-class ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-class li {
  float: left;
  display: inline-block;
}

.navbar-class li:last-child {
  float: right;
}

.navbar-class a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}

.navbar-class a:hover {
  background-color: #ddd;
  color: black;
  padding: 14px 16px;
}
