// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

#collapse1{
    overflow-y:scroll;
    height:200px;
}