// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  .top {
    float: center;
    margin-left:2%;
    font-size: 100%;
  }
  
  .bottom {
    float: center;
    margin-left: 2%;
    margin-right:2%;
  }
  
  .input-field {
    margin: 20px auto;
    width: 50%;
    text-align: center;
    float: center;
  }
  
  .input-radio {
    margin: 20px auto;
    text-align: center;
  }
  
  .input-submit {
    margin: 20px auto;
    float: center;
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    font-family: 'Arial';
    color: #ffff;
    border-radius: 5px;
  }
  
  .back-button {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  