<p id="notice"><%= notice %></p>

<h1>Make Withdrawal</h1>

<p>Current cash balance: <%= @cash %></p>

<form>
  <label for="withdraw">Amount to withdraw:</label><br>
  <input type="text" id="withdraw" name="withdraw"><br>
  <!-- todo: not sure if this submit goes anywhere lol -->
  <input type="submit" value="Submit">
</form>

<button onclick="window.location.href='/'">Back to Home</button>